<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium and Playwright Suite" parallel="tests" thread-count="4">
    <test name="Selenium Tests">
        <classes>
            <class name="selenium.GoogleSearchTest" />
            <class name="selenium.YahooSearchTest" />
        </classes>
    </test>

    <test name="Playwright Tests">
        <classes>
            <class name="playwright.BingSearchTest" />
            <class name="playwright.DuckDuckGoSearchTest" />
        </classes>
    </test>
</suite>
